<!--Loads the Season Data as well as the associated Episodes data by launching the EpisodesComponent via the <app-episodes> </app-episodes>  selector-->

<button mat-stroked-button
        routerLink=""
        color="primary">Search By Show</button>
<mat-accordion>
  <mat-expansion-panel *ngFor="let season of seasons">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Season : {{season.number}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description>
      <img style="float: left; margin-right:1.5rem" *ngIf="season.image" src="{{season.image.medium}}">
      <ng-template matExpansionPanelContent>
        <app-episodes [id]="season.id"></app-episodes>
      </ng-template>
      {{season.episodeOrder}} Episodes <br><br>
      Premiered : {{season.premiereDate | date}}<br><br>
      Ended : {{season.endDate  | date}}
    </mat-panel-description>
  </mat-expansion-panel>
</mat-accordion>

