mat-accordion{
  mat-expansion-panel{
    mat-expansion-panel-header{
      background-color: lightcyan;
      color:blue;
      mat-panel-title{
        width: 40%;
      }
      mat-panel-description{
        width: 30%;
      }
    }
  }
}



