<!--Loads the shows data and provides a Detail button to launch the SeasonsComponent using the routerLink-->
<!--Will also launch the SingleEpisodeComponent via the <app-single-episode> selector when applicable to get the Previous/Next episode name-->

<button mat-stroked-button
        routerLink=""
        color="primary">Search By Show</button>


<mat-accordion>
  <mat-expansion-panel *ngFor="let show of shows" [ngStyle]="{'color':show.show.status === false ? 'red':'blue'}">
    <mat-expansion-panel-header>
      <mat-panel-title *ngIf="show.show.name">
         {{show.show.name}}
      </mat-panel-title>
      <mat-panel-description>
        <i>Premiered : </i> <b>{{show.show.premiered | date}}</b>
      </mat-panel-description>
      <mat-panel-description>
        <i>Status : </i><b>{{show.show.status}}</b>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-action-row>
      <button mat-raised-button color="accent"
              routerLink="/show/{{show.show.id}}"
              color="primary">Details</button>
    </mat-action-row>
    <mat-panel-description>
      <img style="float: left; margin-right:1.5rem" *ngIf="show.show.image" [src]="show.show.image.medium">
      <span style="float:left" [ngStyle]="{'color':'blue'}" [innerHTML]="show.show.summary"></span>
      <ng-template matExpansionPanelContent>
        <br>
        <p *ngIf="show.show._links.previousepisode">Previous episode: <app-single-episode [url]="show.show._links.previousepisode.href"></app-single-episode></p>
        <p *ngIf="show.show._links.nextepisode">Next episode: <app-single-episode [url]="show.show._links.nextepisode.href"></app-single-episode></p>
      </ng-template>
    </mat-panel-description>
  </mat-expansion-panel>
</mat-accordion>
